backports-datetime-fromisoformat==1.0.0
bcrypt==3.1.6
betterreads==0.4.2
blinker==1.4
boto==2.49.0
boto3==1.9.175
botocore==1.12.175
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
docutils==0.14
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gensim==3.7.3
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
MarkupSafe==1.1.1
numpy==1.16.4
pandas==0.24.2
Pillow==6.2.0
pycparser==2.19
python-dateutil==2.8.0
pytz==2019.1
rauth==0.7.3
regex==2019.6.8
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
smart-open==1.8.4
SQLAlchemy==1.3.3
tmdbsimple==2.2.0
urllib3==1.25.8
Werkzeug==0.15.3
WTForms==2.2.1
xmltodict==0.12.0
