{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <hr>
    <p>Ever watched a movie or read a book and thought I would love to see or read something similar to this? If you have, this is the place for you.</p>
    <p>All the traditional movie and book recommender systems recommend books based on your taste in books and movies based on your preferences in movies. There were countless
        times in my life where upon watching a movie I wanted to read something similar to it or upon reading a book wanted to watch a movie with a similar theme. As they say -  "Necessity is the 
        mother of invention." The desire to find books and movies more aligned to my taste gave birth to this project - Pixels & Pages. 
    </p>
    <p>There are many people who only watch movies and although would love to complete a few books, just don't find books close enough to their unique taste. Traditional recommeder
        systems would fail miserably to recommend books to such a person. This project aims to solve this hurdle by capturing this movie lovers taste which would be reflected in the kind 
        of movies he has watched. 
    </p>
    <p>This is a content based recommeder system that recommends movies and books based on their descriptions. This would help unearth books and movies that although 
        are not very popular yet are more suited to the kind of books and movies you read and watch. 
    </p>
{% endblock content %}