{% extends "layout.html" %}
{% block content %}
    {% for movie in movies %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              {% if movie['release_date']  == "" %}
                <a class="mr-2" href="#">Release Date : Unknown </a>
              {% else %}
                <a class="mr-2" href="#">Release Date : {{ movie['release_date'] }} </a>
              {% endif %}
            </div>
            <span style="float:right;">
                <small><a href="{{ url_for('movies.get_ratings', movie_id = movie['id']) }}"> Add Movie +</small></a>
            </span>
            <a class="article-title" href="#">{{ movie['title'] }}</a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}