{% extends "layout.html" %}
{% block content %}
    {% for movie in movies %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ movie.director }}</a>
            </div>
            <span style="float:right;">
              <button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#deleteModal"><small>Add Movie +</small></button></span>
            <a class="article-title" href="#">{{ movie['title'] }}</a>
          </div>
        </article>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Add To Movies Watched?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('movies.get_ratings', movie_id = movie['id']) }}" method="POST">
                <input class="btn" type="submit" value="Add">
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock content %}